body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #120252;
    color: white;
}

header .logo img {
    width: 100px;
}

header .logo1 img {
    width: 100px;
}


header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li {
    margin: 0;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

header .auth a {
    margin-left: 20px;
    color: #fff;
    text-decoration: none;
}

header .auth .signup {
    background-color: #20C997;
    padding: 10px 20px;
    border-radius: 5px;
}
header .auth .login {
    background-color: #20C997;
    padding: 10px 20px;
    border-radius: 5px;
}
  .container {
    width: 90%;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="number"],
  input[type="text"],
  textarea,
  select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .hidden {
    display: none;
  }
  
  #results h2 {
    font-size: 1.5em;
    margin-top: 20px;
  }
  
  #results div {
    margin-top: 10px;
    padding: 10px;
    background-color: #e9ecef;
    border-radius: 5px;
  }
  